Q1. How can we store a single quote (‘) as a string in a var1able?

In [27]:
var_name = 'This is a string with a single quote (\').'
print(var_name)  # Output: This is a string with a single quote (').

This is a string with a single quote (').

In [28]:
var_name = "This is a string with a single quote (')."
print(var_name)  # Output: This is a string with a double quote (").

This is a string with a single quote (').

Q2. Refer the below variable:
x = 'a'
Here, is x a character type or string type variable? Support your answer with an explanation.

In [30]:
x='a'
print(type(x)) # Output: <class 'str'>

<class 'str'>

Q3. Apply the follow1ng functions on this variable: ‘Welcome to Python foundation course'
 find ()
 count()
 len()
 Concatenation

In [33]:
text = 'Welcome to Python foundation course'
name = ' sudhir'
# Find the index of "Python"
python_index = text.find("Python")
print(python_index)  # Output: 11

count_o = text.count('o')
print(count_o)

len(text)

concatenation_text = text + name
print(concatenation_text)

11
6
Welcome to Python foundation course sudhir

Q4. For the var1able: wor = ‘PanaJi@12256'
Calculate the follow1ng:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numerical in string

In [34]:
word = 'PanaJi@12256'

lowercase_count = 0
uppercase_count = 0
numerical_count = 0

for char in word:
    
      if char.islower():
        lowercase_count += 1
        
      elif char.isupper():
        uppercase_count += 1
      elif char.isdigit():
        numerical_count += 1

print("Total lowercase alphabets:", lowercase_count)
print("Total uppercase alphabets:", uppercase_count)
print("Total numerical digits:", numerical_count)

Total lowercase alphabets: 4
Total uppercase alphabets: 2
Total numerical digits: 5

Q5. Write a code to store a numerical value inside  a variable then convert it into string.

In [35]:
# Store a numerical value in a variable
numerical_value = 12345

# Convert the numerical value to a string
string_value = str(numerical_value)

# Print the original and converted values
print("Numerical value:", numerical_value)
print("String value:", string_value)

Numerical value: 12345
String value: 12345